---
layout: default
title: Página no encontrada
---

<div class="row content">
    <div class="span12 404">
        <div class="hero-unit">
            <h1><strong>Página no encontrada</strong></h1>
            <p>&nbsp;</p>
            <h2>Lo siento, pero lo que estás buscando no existe o nunca ha existido.</h2>
            <p>Comprueba que la URL es correcta y no contiene ningún error. También puedes volver a la <a href="{{ BASE_PATH }}/" class="roll"><span data-content="portada">portada</span></a> y comenzar de nuevo.</p>
        </div>
    </div>
</div>