{% include setup %}

<!doctype html>
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="es"><![endif]-->
<!--[if IE 7]><html class="no-js lt-ie9 lt-ie8" lang="es"><![endif]-->
<!--[if IE 8]><html class="no-js lt-ie9" lang="es"><![endif]-->
<!--[if gt IE 8]><!--><html class="no-js" lang="es"><!--<![endif]-->
<head>
    <meta charset="utf-8" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />

    {% if page.title %}
    <title>{{ page.title }}</title>
    {% else %}
    <title>{{ site.title }}</title>
    {% endif %}
    {% if page.description %}<meta name="description" content="{{ page.description }}">{% endif %}
    
    <link type="image/x-icon" rel="icon" href="{{ site.BASE_URL }}/favicon.ico" />
    <link type="image/x-icon" rel="shortcut icon" href="{{ site.BASE_URL }}o/favicon.ico" />
    <link type="text/plain" rel="author" href="{{ site.BASE_URL }}/humans.txt" />
    <link type="application/atom+xml" rel="alternate" href="{{ site.BASE_URL }}/atom.xml" />

    <link type="text/css" rel="stylesheet" href="{{ ASSET_PATH }}css/style.css">

    <script type="text/javascript" src="{{ ASSET_PATH }}js/libs/modernizr-2.5.3.min.js"></script>
    <script type="text/javascript">
        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-4274312-6']);
        _gaq.push(['_setDomainName', 'danisalgueiro.com']);
        _gaq.push(['_setSiteSpeedSampleRate', 5]);
        _gaq.push(['_trackPageview']);

        (function() {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();
    </script>
</head>
<body>
    <!--[if lt IE 7]><p class=chromeframe>Your browser is <em>ancient!</em> <a href="http://browsehappy.com/">Upgrade to a different browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a> to experience this site.</p><![endif]-->
    
    {% include partials/header.html %}
    
    <div class="container">

        <div class="content-container">
            {{ content }}
        </div>

    </div>
    
    {% include partials/footer.html %}
    
<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
<script type="text/javascript">window.jQuery || document.write('<script src="{{ ASSET_PATH }}js/libs/jquery-1.8.3.min.js"><\/script>')</script>

<script type="text/javascript" src="{{ ASSET_PATH }}js/scripts.js"></script>

</body>
</html>
